<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <sec:authorize access="isAnonymous()">
        <a href="/login">로그인</a>
    </sec:authorize>
    <sec:authorize access="isAuthorize()">
<!--        <span th:text="*{account.getAccountName()}" /> 님-->
        <a href="/logout">로그아웃</a>
    </sec:authorize>
    <a href="/post">글쓰기</a>
    <table class="table">
        <tr>
            <th>글 번호</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        <tr th:each="post : ${postList}">
            <td th:text="${post.getPostId()}">postId</td>
            <td th:text="${post.getPostTitle()}">postTitle</td>
            <td><a th:href="@{/post/{id}(id=${post.getPostId()})}">신수정</a></td>
        </tr>
    </table>
</body>
</html>