<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
User List
<table>
    <tbody>
    <tr th:each="account : ${userList}">
        <td th:text="${account.user_id}">id</td>
        <td th:text="${account.user_email}">email</td>
        <td th:text="${account.user_name}">name</td>
        <td><a th:href="@{/account/modify/{id}(id=${account.user_id})}">수정</a></td>
        <td><a th:href="@{/account/delete/{id}(id=${account.user_id})}">삭제</a></td>
    </tr>
    </tbody>
    <a href = "/account/register">회원가입</a>
</table>
</body>
</html>