<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
User Form
    <form method="post" th:action="@{/account/{action}(action=${action})}" th:object="${account}">
        <div>
            <input th:field="*{user_id}" type="hidden" />
            email <input th:field="*{user_email}" type="text" />
            password <input th:field="*{user_password}" type="password" />
            name <input th:field="*{user_name}" type="text" />
        </div>
        <div>
            <button type="submit">확인</button>
            <button type="button" onclick="location.href='/userList'">취소</button>
        </div>
    </form>
</body>
</html>